html, body{
    margin: 0;
    padding: 0;
    background-color: #111111;
    height: 100%;
}

.container{
    height: 60%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    /* background: linear-gradient(to right, #FF4B2B, #FF416C); */
    color:#ff586c;
}

.banner-image {
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
footer {
    margin-bottom: -50px;
}
/* #signup-btn{

} */
