{% extends 'includes/base.html' %}
{%load static %}

{% block title %}MediMart{% endblock %}

{% block content %}
<div class="container banner-image my-5 d-flex align-items-center justify-content-center" style="background-image: url('{% static 'images/medicine.jpg' %}');">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4 text-white">Medi Mart</h1>
            <p class="lead text-white">Upload your prescription and get your Medicines delivered at your doorsteps.</p>
            <br>
            <a class="btn btn-warning btn-lg" href="{% url 'login' %}" role="button">Order Now</a>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}