{% extends 'includes/base.html' %}
{%load static %}

{% block title %}Medimart | Upload Prescription{% endblock %}

{% block content %}
<div class="container login-container my-5 right-panel-active" id="login-container">
    <div class="form-container sign-up-container d-flex justify-content-center align-items-center flex-column">
        <h3>Guide for a valid prescription</h3>
		<img class='img-fluid' src="{% static 'images\presc_guidlines.svg' %}" style="height:80%;">
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
                <form action="{% url 'result'%}" method="post" enctype="multipart/form-data" id="upload-form">
                    {% csrf_token %}
                    <h1>Upload Your Prescription</h1>
                    <div class="d-flex justify-content-center my-2 align-items-center" id="img-container">
                        <img class="img-fluid h-100" src="" alt="" id="prescriptionImage">
                    </div>
                    <input required type="file" class="form-control my-3" name="prescriptionImage" accept="image/*" id="prescriptionInput" onchange="upload_img(this);" >
                    <button type="submit" class="signup-btn mb-2" style="border: 1px solid #ffffff">Upload</button>
                </form>
			</div>
		</div>
	</div>
</div>
<div id="loader" class="">
    <div class="loading-container">
        <div class="loading-text">
        <span>L</span>
        <span>O</span>
        <span>A</span>
        <span>D</span>
        <span>I</span>
        <span>N</span>
        <span>G</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function upload_img(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                img_container = document.getElementById("img-container");
                img_container.style.height = '20vh'
                image = document.getElementById("prescriptionImage");
                image.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
      }

      const myForm = document.getElementById("upload-form");
      myForm.addEventListener('submit', ()=>{
        const bodyChildren = document.querySelectorAll("body > *:not(script)");
        bodyChildren.forEach(child => {
            child.style.display = 'none';
        });

      const loader = document.getElementById('loader');
      loader.style.display = 'flex';
      });

      

</script>
{% endblock %}